<main>
  <ul class="fruits-list">
    <li *ngFor="let fruit of fruits" (click)="onSelect(fruit)" class="fruit select" [class.selected]="fruit === selectedFruit">
      <h2 class="fruit-name-h-select">{{fruit.name}}</h2>
    </li>
  </ul>

  <section class="fruits-list" *ngIf="selectedFruit">
    <div class="fruit">
      <h2 class="fruit-name-h">{{selectedFruit.name}}</h2>
      <h3 class="fruit-info">{{selectedFruit.isSweet ? ("It's very sweet" | uppercase): ("It's not sweet" | uppercase)}}{{!selectedFruit.isFruit ? " but this is not a fruit :(" : " and it is a fruit!"}}</h3>
      <label> <p class="name-p">name:</p> <input class="fruit-name-input" [(ngModel)]="selectedFruit.name" placeholder="name" /> </label>
    </div>
  </section>
</main>
