.messages {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: content-box;
  width: 400px;
  border-radius: 20px;
  animation: slideUp 1s;
  overflow: hidden;
}

h2 { margin: 0; }

h5 {
  line-height: 0; margin: 10px;
  animation: show 0.5s;
}

button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: darkgrey;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
  animation: point 0.3s;
}
